input.form-control {
	margin-bottom: 15px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;
	box-shadow: none;
}
input.form-control:focus {
	box-shadow: none;
}
label {
	font-weight: 300;
	font-size: 13px;
	color: darkgray;
}
span.for-phone.help,
span.for-room.help {
	margin-left: 3px;
	color: rgb(132, 132, 132);
	opacity: .25;
			transition: opacity .2s;
	-webkit-transition: opacity .2s;
}
.page3 input {
	pointer-events:none;
}
.page3 .help {
	color: rgb(132, 132, 132);
	opacity: .75;
			transition: opacity .2s;
	-webkit-transition: opacity .2s;
	margin-bottom: 5px;
}

.login-btns {
	padding: 5px;
}
.login-btns > button {
	border-radius: 5px;
	padding: 14px 16px;
}
.sign-in-header {
	text-align: center;
	margin-bottom: 35px;
}
.errmsg, .has-error {
	color: #AB3C3C;
	display: none;
}
#forgot-pw, div.pass2,
.page2, .page3, .page4 {
	display: none;
}
