extends template

block head
	title Drew's Delivery
	
block content
	h1 Welcome to Drew's Delivery Service!
	p There isn't much functionality yet, but I'm working on it! View progress on 
		a(href='https://github.com/DrewMcArthur/delivery-service') GitHub.
	a(href='/logout') Log Out
